@font-face {
  font-family: 'Pokemon Fire Red Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Pokemon Fire Red Regular'),
    url('./fonts/pokemon-normal.woff2') format('woff2');
}

#app {
  display: flex;
  align-items: flex-start;
  font-family: 'Indie Flower', cursive;
}

.box {
  padding: 1rem;
  border: 1px solid black;
  margin: 1rem;
  flex: 1;
}

.pokemon {
  display: flex;
  align-items: flex-start;
  padding: 20px;
}

.pokemon img {
  border: 1px solid black;
  margin-right: 10px;
}

.pokemon-name {
  font-size: 14px;
  font-weight: bold;
  font-family: 'Pokemon Fire Red Regular';
}

.pokemons-list {
  padding: 0;
}

.pokemons-list-item {
  list-style: none;
  border: 1px darkgrey dashed;
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.pokemons-list-item .pokemon {
  flex: 1;
}

.pokemon-list-item-action {
  margin-right: 20px;
}

.pokemon-types-list {
  margin-top: 10px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pokemon-types-list-item {
  list-style: none;
  margin: 0.2rem;
}

.pokemon-type {
  border-radius: 10px;
  color: white;
  box-shadow: 2px 2px 2px lightgrey;
  text-transform: capitalize;
  padding: 0.5rem;
  text-align: center;
  min-width: 70px;
  font-family: 'Pokemon Fire Red Regular';
  font-size: 8px;
}

.pokemon-type.bug {
  background-color: #a8b820;
}
.pokemon-type.dark {
  background-color: #705848;
}
.pokemon-type.dragon {
  background-color: #7038f8;
}
.pokemon-type.electric {
  background-color: #f8d030;
}
.pokemon-type.fairy {
  background-color: #ee99ac;
}
.pokemon-type.fighting {
  background-color: #c03028;
}
.pokemon-type.fire {
  background-color: #f08030;
}
.pokemon-type.flying {
  background-color: #a890f0;
}
.pokemon-type.ghost {
  background-color: #705898;
}
.pokemon-type.grass {
  background-color: #78c850;
}
.pokemon-type.ground {
  background-color: #e0c068;
}
.pokemon-type.ice {
  background-color: #98d8d8;
}
.pokemon-type.normal {
  background-color: #a8a878;
}
.pokemon-type.poison {
  background-color: #a040a0;
}
.pokemon-type.psychic {
  background-color: #f85888;
}
.pokemon-type.rock {
  background-color: #b8a038;
}
.pokemon-type.steel {
  background-color: #b8b8d0;
}
.pokemon-type.water {
  background-color: #6890f0;
}
